<!DOCTYPE html>
<html>
  <head>
    <title>Mocme</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.blue-light_blue.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <%= javascript_pack_tag 'main' %>

  </head>

  <body>

     <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
       <header class="mdl-layout__header">
         <div class="mdl-layout__header-row">
           <!-- Title -->
           <span class="mdl-layout-title">Title</span>
           <!-- Add spacer, to align navigation to the right -->
           <div class="mdl-layout-spacer"></div>
           <!-- Navigation. We hide it in small screens. -->
           <nav class="mdl-navigation mdl-layout--large-screen-only">
             <% if current_user %>
                <strong><%= current_user.name %></strong>
                <%= link_to "Sign out", signout_path, id: "sign_out", class:'mdl-navigation__link' %>
              <% else %>
                <%= link_to "Sign in", "/auth/google_oauth2", id: "sign_in", class:'mdl-navigation__link' %>
              <% end %>
             <a class="mdl-navigation__link" href="">Link</a>
           </nav>
         </div>
       </header>
       <div class="mdl-layout__drawer">
         <span class="mdl-layout-title">Title</span>
         <nav class="mdl-navigation">
           <% if current_user %>
              <strong><%= current_user.name %></strong>
              <%= link_to "Sign out", signout_path, id: "sign_out", class:'mdl-navigation__link' %>
            <% else %>
              <%= link_to "Sign in", "/auth/google_oauth2", id: "sign_in", class:'mdl-navigation__link' %>
            <% end %>
           <a class="mdl-navigation__link" href="">Link</a>
         </nav>
       </div>
       <main class="mdl-layout__content">
         <div class="page-content">
           <%= yield %>
         </div>
       </main>
     </div>



  </body>
</html>
